@rendermode InteractiveServer
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CMIL</a>
    </div>
</div>
        
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="px-3 nav-item">
        <NavLink class="nav-link" href="" Match=@NavLinkMatch.All>
            <span class="oi oi-home" aria-hidden="true"></span> &#127968; Home
        </NavLink>
    </div>
    <div class="px-3 nav-item">
        <NavLink class="nav-link" @onclick="()=>expandInventoryManagement = !expandInventoryManagement" Match=@NavLinkMatch.All>
            <span class="oi oi-plus" aria-hidden="true"></span> &#x1F4CB; Inventory Management
        </NavLink>
        @if (expandInventoryManagement)
        {
            <ul>
                <li>
                    <NavLink class="nav-link" href="AddToInventory" Match=@NavLinkMatch.All>
                        <span class="oi oi-plus" aria-hidden="true"></span>Add to Inventory
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="RemoveFromInventory" Match=@NavLinkMatch.All>
                        <span class="oi oi-plus" aria-hidden="true"></span>Remove from Inventory
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="ModifyInventory" Match=@NavLinkMatch.All>
                        <span class="oi oi-plus" aria-hidden="true"></span>Modify Inventory
                    </NavLink>
                </li>
            </ul>
        }
    </div>
    <div class="px-3 nav-item">
        <NavLink class="nav-link" @onclick="()=>expandReports = !expandReports" Match=@NavLinkMatch.All>
            <span class="oi oi-plus" aria-hidden="true"></span> &#x1F4C8; Reports
        </NavLink>
        @if (expandReports)
            {
            <ul>
                <li>
                    <NavLink class="nav-link" href="1149s" Match=@NavLinkMatch.All>
                        <span class="oi oi-plus" aria-hidden="true"></span>1149s
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="CurrentInventory" Match=@NavLinkMatch.All>
                        <span class="oi oi-plus" aria-hidden="true"></span>Current Inventory
                    </NavLink>
                </li>
            </ul>
        }
    </div>
</div>

@code{
    public bool expandReports { get; set; } = false;
    public bool expandInventoryManagement { get; set; } = false;
}
